body {
  @apply pb-20 h-screen;
  transition: background-color 0.2s;
}
.fake-radio {
  @apply w-5 h-5;
}
table {
  th,
  td {
    @apply p-2;
  }
}
input[type="text"] {
  @apply w-full rounded;
  height: 42px;
  &:focus {
    border-color: transparent;
    box-shadow: none;
  }
}
// .btn-secondary {
//   @apply bg-secondary text-primary border-0 hover:opacity-75 hover:bg-secondary;
// }
