.side-nav {
  @apply w-0 h-full fixed top-0 left-0 bg-white overflow-x-hidden;
  z-index: 1;
  transition: width 0.5s;
  padding-top: 60px;
  &__title,
  &__link {
    @apply whitespace-nowrap block no-underline;
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: #818181;
    transition: width 0.3s;
  }
}
body {
  overflow: auto;
  &.modal-open {
    @apply left-0 right-0 bg-purple-200;
    overflow: hidden;
    .side-nav {
      width: 75%;
    }
    .overlay {
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
