.main-nav {
  &__item {
    @apply flex flex-col justify-center items-center px-1 py-3 h-full text-center;
    &--active {
      @apply bg-white;
    }
  }
}
.modal {
  z-index: 30;
  overflow-y: auto;
}
.modal-box {
  @apply rounded-none p-4;
  overflow: visible;
  // padding-bottom: 50%;
  // overflow-y: hidden;
  .select-items {
    z-index: 40;
  }
}
