.dropdown-wrapper {
  @apply p-4 bg-primary text-white;
  .select-dropdown {
    &__button {
      @apply flex items-center justify-between;
      padding: 10px;
      background-color: #fff;
      color: #616161;
      border: 1px solid #cecece;
      border-radius: 3px;
      cursor: pointer;
      width: 210px;
      &::focus {
        outline: none;
      }
    }
    &__list {
      @apply bg-secondary text-primary p-2 absolute;
      left: 0;
      right: 0;
      z-index: 20;
      max-height: 300px;
      opacity: 0;
      list-style-type: none;
      display: block;
      transform-origin: top left;
      transform: scale(1, 0);
      transition: all ease-in-out 0.3s;
      &.active {
        opacity: 1;
        pointer-events: auto;
        transform: scale(1, 1);
      }
    }
  }
  /* The radio-wrapper */
  .radio-wrapper {
    @apply block relative cursor-pointer select-none text-xl mb-3 pl-7;
  }

  /* Hide the browser's default radio button */
  .radio-wrapper input {
    @apply absolute cursor-pointer opacity-0;
    left: 3px;
    top: 6px;
    // @apply hidden;
  }

  /* Create a custom radio button */
  .check-mark {
    @apply absolute left-0 rounded-full bg-white top-1/2 -translate-y-1/2 border-4 border-solid border-primary-600 w-5 h-5;
  }

  /* On mouse-over, add a grey background color */
  /* .radio-wrapper:hover input ~ .check-mark {
    background-color: #ccc;
  } */

  /* When the radio button is checked, add a background */
  .radio-wrapper input:checked ~ .check-mark {
    @apply bg-primary-600;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .check-mark:after {
    @apply hidden absolute;
    content: "";
  }

  /* Show the indicator (dot/circle) when checked */
  .radio-wrapper input:checked ~ .check-mark:after {
    @apply block;
  }

  /* Style the indicator (dot/circle) */
  .radio-wrapper .check-mark:after {
    @apply rounded-full w-2 h-2;
    top: 9px;
    left: 9px;
    /* background: white; */
  }
}

