<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link rel="stylesheet" href="./assets/style/all.css" />

    <script
      src="https://kit.fontawesome.com/b3b219037e.js"
      crossorigin="anonymous"
    ></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </head>

  <body>
    <!-- <header class="header">
      這是 header
    </header> -->

    <%- contents %>
    <nav
      class="main-nav bg-secondary fixed bottom-0 left-0 right-0 text-primary"
    >
      <ul class="flex justify-around text-sm">
        <li class="flex-1">
          <a
            href="custom-select.html"
            class="main-nav__item <% if (current === 'nav-link01') {%>main-nav__item--active<%} %>"
          >
            <i class="fa-solid fa-house"></i>
            <span class="inline-block mt-1">客製下拉</span>
          </a>
        </li>
        <li class="flex-1">
          <a
            href="./table.html"
            class="main-nav__item <% if (current === 'nav-link02') {%>main-nav__item--active<%} %>"
          >
            <i class="fa-solid fa-user"></i>
            <span class="inline-block mt-1">表格樣式</span>
          </a>
        </li>
        <li class="flex-1">
          <a
            href="index.html"
            class="main-nav__item <% if (current === 'index') {%>main-nav__item--active<%} %>"
          >
            <i class="fa-brands fa-github"></i>
            <span class="inline-block mt-1">sidebar</span>
          </a>
        </li>
        <li class="flex-1">
          <a
            href="sidemenu.html"
            class="main-nav__item <% if (current === 'nav-link04') {%>main-nav__item--active<%} %>"
          >
            <i class="fa-solid fa-music"></i>
            <span class="inline-block mt-1">daisyUI sideBar</span>
          </a>
        </li>
        <li class="flex-1">
          <a
            href="#"
            class="main-nav__item <% if (current === 'nav-link05') {%>main-nav__item--active<%} %>"
          >
            <i class="fa-solid fa-heart"></i>
            <span class="inline-block mt-1">歷年用電</span>
          </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
